:root{
    --bg: #ffffff;
    --bg-secondary: #24170f;
    --bg-tertiary: #FAF9F6;
    --text: #000000;
    --accent: #EC0889;
    --text-secondary: #2A7B50;
    --radius-sm: .8rem;
    --primary-font: "serif elegante";
    --secondary-font: Inter, "System Sans";
}

.xula-intro {
    text-align: center;
    max-width: 760px;
    margin: 0 auto 48px;
}

.xula-heading{
    font-family: var(--primary-font);
    font-size: clamp(2.1rem, 3vw, 3.5rem);
    font-weight: 600;
    line-height: 1;
    color: var(--bg-secondary);
    max-width: 35rem;
    margin: 0 auto;
}

.xula-subheading{
    font-family: var(--primary-font);
    font-size: clamp(1.2rem, 3vw, 2.6rem);
    font-weight: 500;
    margin-bottom: 12px;
    color: var(--text);
}

.xula-text{
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    line-height: 1.7;
    max-width: 35rem;
    margin-bottom: 28px;
    color: var(--text);
}

.xula-btn {
  position: relative;
  overflow: hidden;
  isolation: isolate;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 2.4rem;
  border-radius: 999px;
  background: var(--text);
  color: var(--bg);
  text-decoration: none;
  border: solid 1px var(--bg-secondary);
  cursor: pointer;
  transition:
    color .55s cubic-bezier(.16,1,.3,1),
    transform .55s cubic-bezier(.16,1,.3,1);
}

/* moving fill layer */
.xula-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--bg);
  transform: translateY(100%);
  transition:
    transform .65s cubic-bezier(.16,1,.3,1);
  z-index: -1;
}

/* text stays above */
.xula-btn span {
  position: relative;
  z-index: 2;
}

/* hover */
.xula-btn:hover::before {
  transform: translateY(0);
}

.xula-btn:hover {
  color: var(--text);
  transform: translateY(-2px);
}

.xula-btn--secondary {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: .6rem;
  background: transparent;
  border: none;
  padding: 0;
  color: var(--accent);
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: color .45s cubic-bezier(.16,1,.3,1);
}

/* underline mask system */
.xula-btn--secondary::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1.5px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition:
    transform .55s cubic-bezier(.16,1,.3,1);
}

/* text motion */
.xula-btn--secondary span {
  transition:
    transform .45s cubic-bezier(.16,1,.3,1);
}

/* icon motion */
.xula-btn--secondary svg {
  transition:
    transform .45s cubic-bezier(.16,1,.3,1);
}

/* hover */
.xula-btn--secondary:hover::after {
  transform: scaleX(1);
}

.xula-btn--secondary:hover span {
  transform: translateX(2px);
}

.xula-btn--secondary:hover svg {
  transform: translateX(4px);
}

.xula-eyebrow {
  text-transform: uppercase;
  letter-spacing: .14em;
  font-size: 12px;
  color: var(--text-secondary);
  display: inline-block;
  margin-bottom: 12px;
}
